#body{
	background-color:#ECF0F1;
}
#header-bar{
	background-color:#2C3E50;
	color:white;
	border:5px solid #2C3E50;
	padding:5px;
}
#home{
	background-color:#2980B9;
	border:3px solid #2980B9;
}
#upload{
	background-color:#2980B9;
	border:3px solid #2980B9;
}

#uploadbutton{
	background-color:#2980B9;
	border:3px solid #2980B9;
}

#favorites{
	background-color:#2980B9;
	border:3px solid #2980B9;
	color:white;
}
.flyer{
	width: 80%;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-color:green;
	margin-top:5%;
}
.overlay{
	opacity: 0.8;
	background-color: #ccc;
	position: relative;
	width:80%;
	height:100%;
	top:42.4px;
	margin:auto;
	z-index:20;
}
#button-footer{
	position: auto;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	padding-bottom:20px;
	background: transparent;
	border: none;




}
#button-footer1{
	
	
}
#rightbutton{


	background-color:#2980B9;
	border:3px solid #2980B9;
	color: white;
	height: 15px;
	width: 50%;

	background-color:#e69500;
	border:2px solid #e69500;
	margin:10px 25% 10px 25%;

}
#back,#forward{

	background-color:#2980B9;
	border:3px solid #2980B9;

	height:15px;



}
.favorites{
	width:20%;
	display:inline;
	float:left;
	height:150%;
	margin-left:10%;
	margin-top:5%;
}

.ui-btn-left{
	float:left;
	position:relative;
	height:15px;
	margin-left:15px;
	padding-left:19px;
}



.upload{
	height:80%;
	width:85%;
	margin:auto;
	margin-left:-1%;

	background-color:white;
	z-index:5;
	position:absolute;
	top:10%;

	left:6%;
	border:1px solid gray;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	z-index:11;
}


#goback{
	position:absolute;
	top:-38px;
	right:-29px;
	width:40px;
	height:40px;
	z-index:12;
	background-color:black;
}
