body{
	/*position: absolute;*/

}

.flyer{
	width: 80%;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-color:green;
}
.overlay{
	opacity: 0.8;
	background-color: #ccc;
	position: relative;
	width:80%;
	height:100%;
	top:42.4px;
	margin:auto;
	z-index:20;
}
#button-footer{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	background: transparent;
	border: 0px;

}
#button-footer1{
	
	
}

.favorites{
	width:20%;
	display:inline;
	float:left;
	height:150%;
	margin-left:10%;
}
